[Unit]
Description=Hourly Audiobookshelf chapter match check

[Timer]
OnCalendar=hourly
RandomizedDelaySec=5min
Persistent=true

[Install]
WantedBy=timers.target
