[Unit]
Description=Audiobookshelf auto-match items missing ASIN

[Service]
Type=oneshot
EnvironmentFile=/etc/abs-tools/abs-tools.env
ExecStart=/usr/bin/docker run --rm \
    --user 1000:1000 \
    --env-file /etc/abs-tools/abs-tools.env \
    -v /var/log/abs-tools:/var/log/abs-tools \
    -v /var/lib/abs-tools:/var/lib/abs-tools \
    abs-tools-python abs-auto-match
StandardOutput=append:/var/log/abs-tools/abs-auto-match.log
StandardError=append:/var/log/abs-tools/abs-auto-match.log
